div{
    border: 1px solid black;
    height: 98vh;
}
nav{
    border: 1px solid black;
    line-height: 50px;
    font-size: x-large;
    text-align: center;
    word-spacing: 200px;
    background-color: darkkhaki;


    
}
a{
    text-decoration: none;
}
